.header {
    max-width: 100%;
    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__info {
    height: 100%;
    padding: 10px 17.5px;
    background-color: var(--clr-background-secondary);
}

.header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__userdata {
    width: max-content;

    display: grid;
    gap: 0.75rem;
    grid-template-areas: 'username image'
                        'role image';
    grid-template-columns: max-content 1fr;
    grid-template-rows: 2rem 1rem;

    #user-name {
        grid-area: username;
    }

    #user-role {
        grid-area: role;
        color: var(--clr-text-secondary);
        text-align: end;
    }

    #user-img {
        grid-area: image;
        max-width: 3rem;
        aspect-ratio: 1;
        border: 2px solid var(--clr-primary);
        border-radius: 50%;

        align-self: center;
        justify-self: center;
    }
}

nav {
    min-width: 100%;
    height: fit-content;
}

.header__nav {
    margin: 0;
    height: 100%;
    background-color: var(--clr-primary);
    list-style: none;
    padding: 1rem 2.5rem;

    display: flex;
    justify-content: space-between;
}

.header__nav li {
  position: relative;
}

.header__nav a {
  position: relative;
  font-weight: bold;
  color: var(--clr-background);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.header__nav a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 90%;
  height: 3px;
  background-color: var(--clr-secondary);
  transition: transform 0.3s ease;
}

.header__nav a:not(.active-link):hover {
  color: var(--clr-secondary);
}

.header__nav a:not(.active-link):hover::after {
  transform: translateX(-50%) scaleX(1);
}

.header__nav a.active-link {
  color: var(--clr-secondary);
}

.header__nav a.active-link::after {
  transform: translateX(-50%) scaleX(1);
}

.header__nav:hover a.active-link:not(:hover)::after {
  transform: translateX(-50%) scaleX(0);
}
