.popup-notification {
  position: fixed;
  bottom: 94px;
  right: 0;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  min-width: 300px;
  height: 80px;
  padding: 0.5rem 0.8rem;

  background-color: var(--clr-background);
  border: 2px solid var(--clr-primary);
  border-right: none;
  border-radius: 12px 0 0 12px;
  z-index: 1000;
}

.popup-notification.success {
  color: var(--clr-success);
}

.popup-notification.warning {
  color: var(--clr-warning);
}

.popup-notification.error {
  color: var(--clr-error);
}

.popup-notification .message {
  margin-right: 0.5rem;
  color: var(--clr-text);
  font-size: var(--fs-subtitle);
}
