@if (currentNotification) {
    <div class="popup-notification"
         [ngClass]="currentNotification.type">

        @if (currentNotification.type === 'success') {
            <mat-icon aria-hidden="false" aria-label="Check Icon" fontIcon="check_circle"></mat-icon>
        }

        @if (currentNotification.type === 'warning') {
            <mat-icon aria-hidden="false" aria-label="Warning Icon" fontIcon="warning"></mat-icon>
        }

        @if (currentNotification.type === 'error') {
            <mat-icon aria-hidden="false" aria-label="Error Icon" fontIcon="error"></mat-icon>
        }

        <p class="message">{{ currentNotification.message }}</p>
        </div>
}
