.login-modal-content {
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.adjust-width {
  width: 80%;
}

form button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-title)
}
